body {
  background-color: whitesmoke;
}

div {
  width: 250px;
  margin-bottom: 5px;
  border: 2px solid blue;
}

input[type="submit"]
{
height:16px;
width:16px;
}


label{
width:240px;
display:inline-block;
text-align:right;
}
#myTable{
  width: 200px;
  border-collapse: collapse;
  background-color: aqua;
  height: 100px;
}
td{
  height: 20px;
}